
h2 {
    margin-bottom: 20px;
    text-align: left;
}

text {
    margin-bottom:20px;
    text-align: left;
}

.formula {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

